{% extends 'index.html' %} {% block content %}
<center>
    

    <form method="POST" action="http://localhost:5000/pred_result">
        <br>
        <p><b>Prediksi Kerusakan</b></p>
        <br>
        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 155px">Umur Bangunan:</span>
                </div>
                <input type="number"  class="form-control" id="Umur" name="Umur" placeholder="Masukan Umur Bangunan" step=0.1 min="0" max="150", required="required">
              </div>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 155px">Jumlah Lantai:</span>
                </div>
                <input type="number"  class="form-control" id="Jumlah_Lantai" name="Jumlah_Lantai" placeholder="Masukan Jumlah Lantai" min="1" max="9", required="required">
              </div>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 155px">Masukan Luas Bangunan:</span>
                </div>
                <input type="number"  class="form-control" id="Luas_Area_Bangunan" name="Luas_Area_Bangunan" placeholder="Masukan Luas Area Bangunan" step=0.1 min="6.5" max="500", required="required">
              </div>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 155px">Tinggi Bangunan:</span>
                </div>
                <input type="number"  class="form-control" id="Tinggi_Bangunan" name="Tinggi_Bangunan" placeholder="Masukan Tinggi Bangunan" step=0.1 min="1.8" max="50", required="required">
              </div>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 155px">Jenis Pondasi:</span>
            <select name="Pondasi" style="width: 250px" class="form-control" required="required">
                        <option value="Mud mortar-Stone/Brick">Mud mortar-Stone/Brick</option>
                        <option value="Bamboo/Timber">Bamboo/Timber</option>
                        <option value="Cement-Stone/Brick">Cement-Stone/Brick</option>
                        <option value="RC">RC</option>
                        <option value="Other">Other</option>
            <option disabled selected hidden>Jenis Pondasi?</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 155px">Jenis Atap:</span>
            <select name="Atap" style="width: 250px" class="form-control" required="required">
                <option value="Bamboo/Timber-Light roof">Bamboo/Timber-Light roof</option>
                <option value="Bamboo/Timber-Heavy roof">Bamboo/Timber-Heavy roof</option>
                <option value="RCC/RB/RBC">RCC/RB/RBC</option>
            <option disabled selected hidden>Jenis Atap?</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 155px">Tipe Lantai:</span>
            <select name="Lantai" style="width: 250px" class="form-control" required="required">
                <option value="Mud">Mud</option>
                <option value="RC">RC</option>
                <option value="Brick/Stone">Brick/Stone</option>
                <option value="Timber">Timber</option>
                <option value="Other">Other</option>
            <option disabled selected hidden>Tipe Lantai?</option>
        </select>
        </div>
        <div class="input-group mb-3" style="width: 500px">
            <span class="input-group-text" style="width: 155px">Konstruksi Lantai:</span>
            <select name="Konstruksi_Lantai" style="width: 250px" class="form-control" required="required">
                <option value="TImber/Bamboo-Mud">Timber/Bamboo-Mud</option>
                <option value="Timber-Planck">Timber-Planck</option>
                <option value="Not applicable">Not applicable</option>
                <option value="RCC/RB/RBC">RCC/RB/RBC</option>
            <option disabled selected hidden>Tipe Lantai?</option>
        </select>
        </div>
        <br>
        <button type="submit" style="background-color: rgb(7, 7, 7); color: rgb(255, 253, 253)" class="btn btn-info">Mulai Prediksi</button>
    </form>
    <br>
</center>

{% endblock %}